# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     5432
    database_name:     lisem
    database_user:     lisem_user
    database_password: lisem
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:        smtp
    mailer_host:             127.0.0.1
    mailer_port:             ~
    mailer_user:             ~
    mailer_password:         ~
    mailer_encryption:       ~
    mailer_disable_delivery: true # set to false in prod or if you have a mailcatcher

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # custom directories
    # please fill the absolute path to the cache directory (same for logs_dir)
    # the logs will end up in /tmp/{name-of-this-instance}/cache/{environment}
    cache_dir: /tmp
    logs_dir: /tmp

    # Default Users
    lisem.user.datafixtures:
        lisem:
            username: lisem
            password: lisem
            email: lisem@lisem.eu
            super: true

    # CRM Fake email feature
    librinfo.fakeEmail:
        domain: lisem.eu
        prefix: 'FAKE'
        suffix: ''

    # define which channel to use in case of ChannelNotFoundException
    sylius_fallback_channel_code:  'default'

    # Hostnames for Sylius channels
    sylius_default_channel_hostname: localhost
    sylius_default_channel_code: 'default'

    sylius_fr_web_channel_hostname: 127.0.0.1
    sylius_fr_web_channel_code: 'fr_web'

    librinfo.url_prefix: /lisem

    paybox.site: test
    paybox.rang: 1234
    paybox.identifiant: test
    paybox.hmac: ABCDEF
    paybox.sandbox: true
