# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # custom directories
    #cache_dir: /foo    
    #logs_dir: /bar # the logs will end up in /bar/{name-of-this-instance}/cache/{environment}

    # Default Users
    lisem.user.datafixtures:
        libio:
            username: libio
            password: libio
            email: libio@libio.eu
            super: true
        lisem:
            username: lisem
            password: lisem
            email: lisem@lisem.eu
            super: true

    sylius_default_channel_hostname: localhost
