# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:        smtp
    mailer_host:             127.0.0.1
    mailer_port:             ~
    mailer_user:             ~
    mailer_password:         ~
    mailer_disable_delivery: true # set to false in prod or if you have a mailcatcher

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # custom directories
    # please fill the absolute path to the cache directory (same for logs_dir)
    # the logs will end up in /bar/{name-of-this-instance}/cache/{environment}
    cache_dir: /foo
    logs_dir: /bar

    # Default Users
    lisem.user.datafixtures:
        libio:
            username: libio
            password: libio
            email: libio@libio.eu
            super: true
        lisem:
            username: lisem
            password: lisem
            email: lisem@lisem.eu
            super: true

    # Hostnames for Sylius channels
    sylius_default_channel_hostname: localhost
    sylius_fr_web_channel_hostname: 127.0.0.1
