{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% set productVariantCount = value|length %}

    {% if productVariantCount > 0 %}
        <span class="label label-success">{{ productVariantCount }}</span>
    {% else %}
        <span class="label label-default">N/A</span>
    {% endif %}
{% endblock %}
