{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <table>
        <tbody>
            {% for p in object.packagings %}
                <tr>
                    <td>[{{ p.code }}]</td>
                    <td>{{ p.weight ? p.weight ~ 'g' : ''}}</td>
                    <td>{{ p.bulk ? 'librinfo.label.bulk'|trans : '' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
